.bot-avatar{
    width: 70px;
    height: 30px;
   
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color:black;
    border-radius: 230%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.app-chatbot-button-icon {
    width: 25px;
    height: 25px;
    fill: #fff;
  }